.about {
    background: #FFF8EA;
    padding-top: 100px;
    padding-bottom: 60px;
    position: relative;
    &__content {
        position: relative;
        z-index: 2;
        margin-top: 45px;
        padding-left: 70px;
        max-width: 535px;
        background: linear-gradient(90deg, rgba(255, 248, 234, 0.7) 70%, rgba(255, 248, 234, 0) 70%);
    }
    &__photo {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}