@media screen and(max-width:1188px) {
        .serv {
            &__photo {
                width: 400px;
            }
        }
        .photos {
            &__photo {
                width: 250px;
                height: 400px;
            }
        }
}

@media screen and(max-width:1023px) {
    .title {
        font-size: 24px;
    }
    .promo {
        &__h {
            font-size: 36px;
        }
        &__text {
            font-size: 20px;
            max-width: 300px;
            line-height: 120%;
        }
        &__white {
            width: 65%;
        }
    }
    .video {
        
        &__h {
            font-size: 24px;
    line-height: 33px;
        }
        &__btn {
            margin-top: 47px;
        }
    }
    .serv {
        
        &__text {
            font-size: 12px;
            width: 180px;
            padding: 10px;
        }
    }
    .tabs {
        &__caption {
            li {
                font-size: 16px;
            }
        }
    }
    .about {
        padding-top: 60px;
        &__content {
            max-width: 335px;
        }
        &__photo {
            width: 500px;
        }
        
    }
    .text {
        font-size: 14px;
        
    }
    .form {
        padding: 60px 0;
        &__text {
            font-size: 16px;
            
        }
    }
   
}
@media screen and(max-width:900px) {
    .photos {
        &__photo {
            width: 200px;
            height: 200px;
        }
    }
    .video {
        &__subtitle {
            font-size: 18px;
            line-height: 140%;
        }
    }
    .wins {
        &__img {
            height: auto;
            width: 100px;
            margin: 0 auto;
        }
    }
}
@media screen and(max-width:767px) {
    .menu {
        position: fixed;
        
        flex-direction: column;
        top: 0;
        right: -100%;
        background: rgba(52, 51, 69, .95);
        padding: 50px;
        width: 70%;
        height: 80vh;
        transition: all .3s;
        z-index: 3;
        &_active {
            right: 0;
        }
        &__item {
            a {
                color: #fff;
                font-size: 16px;
            }
        }
        
    }
    .hamburger {
        display: flex;
    }
    .promo {
        &__white {
            width: 100%;
            background: rgba(255, 255, 255, .55)
        }
    }
    .video {
        
    
        &__btn {
            margin-top: 25px;
            font-size: 9px;
        }
    }
    
    .serv {
        position: relative;
        padding-bottom: 0;
        &__photo {
        
           height: 350px;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        &__text {
            padding: 25px;
            height: auto;
            margin-left: 0;
            width: 100%;
            border-radius: 0;
            height: auto;
            overflow-y: scroll;
            margin-left: -150px;
            margin-top: 20px;
            box-shadow: 5px 5px 10px;
        }
        &__wrapper {
            height: 100%;
            flex-direction: column;
            align-items: center;
        }
    }
    #myVideo {
        width: auto;
    }
    .about {
        &__photo {
            position: relative;
            transform: translateY(0);
            order: 1;
            width: 300px;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__content {
            order:2;
            padding: 0;
        }
    }
    .text {
        text-align: center;
    }
    
    .form {
        &__wrapper {
            flex-direction: column;
        }
        &__text {
            max-width: 100%;
            margin-bottom: 10px;
        }
        .title {
            line-height: 120%;
        }
    }
    .footer {
        &__text {
            font-size: 16px;
        }
        
    }
}
@media screen and(max-width:525px){
    .photos__photo {
        width: 339px;
        height: 500px;
    }
    .serv {
        &__photo {
            margin-top: 30px;
    width: 244px;
    height: 185px;
        }
    }
}
@media screen and(max-width:424px) {
    .video {
        
        &__content {
            width: 90%;
        }
    }
    .serv {
        &__photo {
            width: 200px;
        }
    }
}